.body {
  margin: 0;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre {
  width: 180px;
  height: 180px;
  background: rgb(209, 232, 254);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 2s ease;
}

/* clase que mueve el círculo hacia arriba */
.arriba {
  transform: translateY(-50px);
}